<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getCats</key>
	<dict>
		<key>1</key>
		<dict>
			<key>catid</key>
			<string>1</string>
			<key>catname</key>
			<string>服装</string>
			<key>pid</key>
			<string>0</string>
			<key>sub</key>
			<dict>
				<key>2</key>
				<dict>
					<key>catid</key>
					<string>2</string>
					<key>catname</key>
					<string>上衣</string>
					<key>pid</key>
					<string>1</string>
				</dict>
				<key>3</key>
				<dict>
					<key>catid</key>
					<string>3</string>
					<key>catname</key>
					<string>上衣</string>
					<key>pid</key>
					<string>1</string>
				</dict>
			</dict>
		</dict>
		<key>4</key>
		<dict>
			<key>catid</key>
			<string>4</string>
			<key>catname</key>
			<string>帽子</string>
			<key>pid</key>
			<string>0</string>
			<key>sub</key>
			<dict>
				<key>5</key>
				<dict>
					<key>catid</key>
					<string>5</string>
					<key>catname</key>
					<string>男帽</string>
					<key>pid</key>
					<string>4</string>
				</dict>
				<key>6</key>
				<dict>
					<key>catid</key>
					<string>6</string>
					<key>catname</key>
					<string>女帽</string>
					<key>pid</key>
					<string>4</string>
				</dict>
			</dict>
		</dict>
		<key>7</key>
		<dict>
			<key>catid</key>
			<string>7</string>
			<key>catname</key>
			<string>鞋子</string>
			<key>pid</key>
			<string>0</string>
			<key>sub</key>
			<dict>
				<key>8</key>
				<dict>
					<key>catid</key>
					<string>8</string>
					<key>catname</key>
					<string>男鞋</string>
					<key>pid</key>
					<string>7</string>
				</dict>
				<key>9</key>
				<dict>
					<key>catid</key>
					<string>9</string>
					<key>catname</key>
					<string>女鞋</string>
					<key>pid</key>
					<string>7</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>getCountries</key>
	<dict>
		<key>1</key>
		<string>中国</string>
		<key>2</key>
		<string>美国</string>
		<key>3</key>
		<string>英国</string>
	</dict>
	<key>getEmotions</key>
	<dict>
		<key>1</key>
		<string>高兴</string>
		<key>2</key>
		<string>痛苦</string>
		<key>3</key>
		<string>欣慰</string>
		<key>4</key>
		<string>狂喜</string>
		<key>5</key>
		<string>大哭</string>
	</dict>
	<key>getOccasions</key>
	<dict>
		<key>1</key>
		<string>地铁上</string>
		<key>2</key>
		<string>宾馆里</string>
		<key>3</key>
		<string>教室里</string>
	</dict>
</dict>
</plist>
